@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: "Inter";

}

.inpt {
    border-radius: 10px;
    padding: 18px;
    /* Espacemento interno */
    border: none;
    /* Remove a Borda */
    background-color: #f7f9fb;
    /* Define a cor de fundo */
    width: 377px;
    margin-bottom: 16px;
 }

 .botao-entrar {

    background-color: #1C1C1C;
    color: white;
    border: none; /* Altura */
    border-radius: 10px;
    padding: 18px;
    width: 377px; /* largura */
    margin-top: 5px;
 
 }